@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #FFF2E1; 
    --secondary-color: #F48C06; 
    --tertiary-color: #65DAFF; 
    --dark_text: #2f327d;
    --light_text: #113c49;
    --footer_bg: #252641;
    --paragraph: #696984;
    --section_bg: #FFFFFF;
    --blog_title: #252641;
    --common_title: #000000;
  }

  .dark-mode {
    --primary-color: #000000;
    --secondary-color: #F48C06; 
    --tertiary-color: #F48C06; 
    --dark_text: #FFFFFF;
    --light_text: #F48C06;
    --footer_bg: #252641;
    --paragraph: #FFFFFF;
    --section_bg: #000000;
    --blog_title: #FFFFFF;
    --common_title: #FFFFFF;
  }

